<footer>
  <div class="footer">
    <div class="rows">
    <a href="tel:+543813931783"><i class="fa fa-phone"></i></a>
    <a href="https://www.instagram.com/m.s.accesorios22/"><i class="fa fa-instagram"></i></a>
    <a href="https://wa.me/+543813931783"><i class="fa fa-whatsapp"></i></a>
  </div>
  
  <div class="rows">
    <ul>
      <li><a routerLink="/contacto">Contactanos</a></li>
      <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
          </svg>
          Bella Vista, Tucumán
      </li>
    </ul>
  </div>
  
  <div class="rows">
    <h6>&copy; MS Accesorios</h6>
  </div>
  </div>
  </footer>