<!-- Articulos -->
<main *ngIf="articulos.length !== 0" class="d-flex">

  <!-- Filtros activos -->
    <aside class=" mt-5 ms-3">
        <div class="list-group lst">
            <b class="list-group-item list-group-item-action" style="cursor: default;">Filtrar por: </b>
            <a class="list-group-item list-group-item-action" (click)="this.actualizarTodo()">Todo</a>
            <a class="list-group-item list-group-item-action" (click)="this.actualizarArticulos(1,'Pulceras')">Pulceras</a>
            <a class="list-group-item list-group-item-action" (click)="this.actualizarArticulos(1,'Gargantillas')">Gargantillas</a>
            <a class="list-group-item list-group-item-action" (click)="this.actualizarArticulos(1,'Anillos')">Anillos</a>
            <a class="list-group-item list-group-item-action" (click)="this.actualizarArticulos(1,'Cadenas')">Cadenas</a>
            <div class="dropdown list-group-item">
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Precio
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="this.articulosService.getPagina(1,undefined,0,100)">0 ---- $100</a></li>
                <li><a class="dropdown-item" (click)="this.articulosService.getPagina(1,undefined,0,100)">$100 ---- $500</a></li>
                <li><a class="dropdown-item" (click)="this.articulosService.getPagina(1,undefined,0,100)">$500 ---- $1000</a></li>
                <li><a class="dropdown-item" (click)="this.articulosService.getPagina(1,undefined,0,100)">$1000 ---- $3000</a></li>

              </ul>
            </div>
          </div>
    </aside>

    <section class="container-sm">
        <div class="row">
            <!-- Productos disponibles -->
            <article *ngFor="let a of this.articulos" class="col-3 prod">
                <a href="">
                    <figure class="card">
                        <img class="card-img-top" [src]="a.pathFoto">
                        <figcaption class="card-body text-center">
                            <h6 class="card-title">{{a.nombre}}</h6>
                            <p>{{a.categoria}}</p>
                            <b>${{a.precio}}</b>
                        </figcaption>
                    </figure>
                </a>
            </article>
        </div>
    </section>  
</main>

    <!-- Paginacion -->
    <nav class="d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" aria-label="Previous" (click)="actualizarArticulos(pagina - 1)">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let i of cantPaginas" class="page-item"><a class="page-link" (click)="actualizarArticulos(i)">{{i}}</a></li>
          <li class="page-item">
            <a class="page-link" aria-label="Next" (click)="actualizarArticulos(pagina + 1)">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
    </nav>